<div
     *ngIf="localButton.content !== 'visual_check'; else checkbox"
     [title]="localButton.title"
     [id]="localButton.id"
     [ngStyle]="{'background-color' : localButton.color}"

     [ngClass]="[
      class_name,
      localButton.opacity_mode ? opacity_button : '',
      localButton.unactive_visual_mode ? unactive_visual_button : ''
     ]"

    (click)="localButton.help = !localButton.help"
>
  {{localButton.content}}
<ng-component *ngTemplateOutlet="help"></ng-component>
</div>

<ng-template #checkbox>
  <app-checkbox [button_check]="localButton"></app-checkbox>
</ng-template>

<ng-template #help>
  <div [ngClass]="[
    help_class,
    localButton.left ? help_left : help_right,
    localButton.help ? 'active' : ''
    ]"

  >
    {{localButton.title}}</div>
</ng-template>
