@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.palitra_button {
    all: unset;
    display: block;

    @include size(20px);

    position: relative;

    border: 1px solid;
    border-color: black;
    border-radius: 5px;

    margin: 5px;
    padding-top: 2px;
    padding-left: 1px;

    //background-color: #e9e9e9;
    box-shadow: 0 1px 1px;

    font-weight: bold;
    text-align: center;

    cursor: pointer;
    user-select: none;
    opacity: 1;
    transition: 0.3s;

    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(2px);
    }

    &:focus {
      box-shadow: 0 2px 2px;
    }

    &:focus:active {
      box-shadow: none;
    }

    &:disabled {
      opacity: .5;
    }


    &.unactive_visual_mode {
      border-color: transparent;
      border-radius: 50%;
      box-shadow: 0 0 4px;
      color: white;
  }

}
