<button
     *ngIf="localButton.content !== 'visual_check'; else checkbox"
     [title]="localButton.title"
     [id]="localButton.id"
     [disabled] = "localButton.disabled"

     [ngStyle]="{'background-color' : localButton.color}"

     [ngClass]="[
      class_name,
      localButton.unactive_visual_mode ? unactive_visual_mode : ''
     ]"

    (click)="action.buttonListener(localButton)"

>
  {{localButton.content}}

  <app-help-descriptors [localButton]="localButton"></app-help-descriptors>

</button>

<ng-template #checkbox>
  <app-checkbox [button_check]="localButton"> </app-checkbox>
</ng-template>

