$mainFont                : Times New Roman;
$headerFont              : Arial;

$dark-50                 : rgba(#1f2041,.5);
$dark-25                 : rgba(#1f2041,.25);
$purple-color            : #bc9cff;

$mainFontSize            : 10px;
$top_buttons             : 10vw;
