<header class="title">

  <div id="number_of_symbols_box">
  <input type="text" id="number_of_symbols" #number_of_symbols
         [(ngModel)] ="number"
         inputmode="numeric"
         pattern="[0-9]*"
         [min]=1 [max]="max_input_length"
         [title]="'min value = 1; max value = '+max_input_length"
         digitOnly>
  <div id="number_of_symbols__clear" (click)="number=''; number_of_symbols.focus()"></div>
</div>

  <input type="text" id="title_input" #title_input
         [(ngModel)]="title"
         (ngModelChange)="fixValue(title)"
         [maxLength]="max_input_length"
         [placeholder]="title_placeholder"
  >
  <button id="clear_button" (click)="clearTitle(); title_input.focus()" ></button>

</header>
