<footer>
  <button class="bg_undo_redo" id="undo_button" title="Предыдущее значение">
    <span>0</span>
  </button>
  <button class="bg_undo_redo redo_to_copy" id="redo_button" title="Следующее значение">
    <span>0</span>
  </button>
  <label class="select_mandala_type" for="select_mandala_type">
    <select class="bg_arrow_down" id="select_mandala_type" name="select_mandala_type">
      <option *ngFor = "let iterSelect of selected_value"
              [value]= "iterSelect.value">
        {{iterSelect.content}}</option>
    </select>
  </label>
</footer>
