<div class="button_panel" xmlns="">

  <div class="left_panel">
    <ng-component *ngTemplateOutlet="forButton; context: {left: true} "></ng-component>
  </div>

  <div class="right_panel">
    <ng-component *ngTemplateOutlet="forButton; context: {left: false}"></ng-component>
  </div>

<ng-template #forButton let-Left="left">
  <ng-container *ngFor="let iterButton of buttons.buttons">
    <app-palitra-button *ngIf="iterButton.isLeft === Left" [localButton]="iterButton">  </app-palitra-button>
  </ng-container>
</ng-template>
</div>
